---
layout: presentations
title: Migrating to GitHub Enterprise
---

<textarea id="source">
  class: title-slide

  <span class="mega-octicon octicon-mark-github"></span>
  <h1>Migrating to GitHub Enterprise</h1>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top
  # Types of Migrations

  - GitHub.com to GitHub Enterprise
  - xxx Version Control System to GitHub Enterprise
    - Full Repository Migration
    - Trunk/Head Only
  - xxx Issue Tracker to GitHub Enterprise
    - Links to Source Code

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top
  # Existing Tooling - Open Source

  - [`svn2git`](https://help.github.com/articles/importing-from-subversion/#importing-a-subversion-project-to-git-using-svn2git)
  - [TFS2GIT](https://github.com/WilbertOnGithub/TFS2GIT)
  - [ClearCase to Git](https://therub.org/2013/07/19/clearcase-to-git/)

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>

  ---
  class: title-top
  # Existing Tooling - GitHub Built and Maintained

  - [From `svn` (Subversion)](https://help.github.com/articles/importing-from-subversion/#importing-a-subversion-project-using-githubs-importer)
  - [`gh-migrator`](https://help.github.com/enterprise/2.4/admin/guides/migrations/importing-migration-data-to-github-enterprise/)

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
</textarea>
