---
layout: presentations
title: Technical Enablement Table of Contents
---
<textarea id="source">
  class: title-top

  # Technical Enablement Collateral

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-logo-github"></span></div>
            <div class="card-title">Business Concept Setting</div>
            <ul class="card-text">
              <li>Documentation</li>
              <li><a href="business-concept-setting/presentation/start.html" target="_blank">Presentation</a></li>
              </br>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-checklist"></span></div>
            <div class="card-title">Enterprise Installation & Setup</div>
            <ul class="card-text">
              <li>Documentation</li>
              <li><a href="installation-and-setup/presentation/start.html" target="_blank">Presentation</a></li>
              <li>Lab</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-person"></span></div>
            <div class="card-title">End User Administration </div>
            <ul class="card-text">
              <li>Documentation</li>
              <li><a href="end-user-administration/presentation/start.html" target="_blank">Presentation </a></li>
              <li>Lab</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-file-symlink-directory"></span></div>
            <div class="card-title">Migrating to GitHub Enterprise</div>
            <ul class="card-text">
              <li>Documentation</li>
              <li>Presentation</li>
              <li>Lab</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-link"></span></div>
            <div class="card-title">Integrations: Webhooks, API's</div>
            <ul class="card-text">
              <li>Documentation</li>
              <li>Presentation</li>
              <li>Lab</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-rocket"></span></div>
            <div class="card-title">Advanced Administration</div>
            <ul class="card-text">
              <li>Documentation</li>
              <li>Presentation</li>
              <li>Lab</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
</textarea>
