---
title: GitHub Partner Enablement Library
---

<div class="welcome">
  <div class="logo"><span class="mega-octicon octicon-mark-github huge-logo"></span></div>
  <h1>GitHub Partner Enablement Library</h1>
  <p class="doc">
    <%= link_to "Sales Track", "sales-enablement", target: "_blank" %>
    <%= link_to "Technical Track", "technical-enablement/table-of-contents.html", target: "_blank", relative: true %>
  </p><!-- .doc -->
</div><!-- .welcome -->
