---
layout: presentations
title: Business Concept Setting
---

<textarea id="source">
  class: title-slide

  <span class="mega-octicon octicon-mark-github"></span>
  <h1>Business Concept Setting</h1>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Business Concept Setting

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text"><strong>Section Goal:</strong></div>
            <div class="card-text">Understand GitHub, key product concepts, and how we work together.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-left"><span class="mega-octicon octicon-checklist"></span><strong>&nbsp;Topics and Agenda:</strong></div>
            <ul class="card-text">
              <li>GitHub Overview</li>
              <li>GitHub Key Concepts</li>
              <li>Collaboration and Support</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # GitHub Overview

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text"><strong>GitHub Key Facts <strong></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-text">Founded </div>
            <ul class="card-text">
              <li>2008</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-text">Total Registered Users </div>
            <ul class="card-text">
              <li>12M</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-text">Total Repositories </div>
            <ul class="card-text">
              <li>28M</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-text">Employees </div>
            <ul class="card-text">
              <li>425+</li>
            </ul>
          </div>
        </div>
      </div>
          <div class="col-md-4">
          <div class="card">
          <div class="card-block">
            <div class="card-text">Paying Organizations </div>
            <ul class="card-text">
              <li>>60,000</li>
            </ul>
          </div>
        </div>
      </div>
          <div class="col-md-4">
          <div class="card">
          <div class="card-block">
            <div class="card-text">Universities Using GitHub </div>
            <ul class="card-text">
              <li>1000+</li>
            </ul>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text">The World's Largest Developer Community: </div>
            <ul class="card-text">
              <li>Repositories growing much faster than users</li>
              <li>Adding 10k-15k new users everyday to GitHub community</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # GitHub Overview

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text"><strong>A Brief History of GitHub <strong></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-text">2008. Social Coding </div>
            <ul class="card-text">
              <li>GitHub launches a social software platform that makes it easy for anyone to share code </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-text">2010. Corporate Teams </div>
            <ul class="card-text">
              <li>Usage expands to include working groups and project teams within corporations </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-text">2010. Enterprise. </div>
            <ul class="card-text">
              <li>Major enterprises begin to leverage the GitHub approach to software development </li>
            </ul>
          </div>
        </div>
      </div>


  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # GitHub Overview

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text"><strong>Every Company is a Software Company <strong></div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <img src="/images/Every_Company_Software_Company.png" class="img-responsive">
          </div>
        </div>
      </div>


 <footer>
   <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
 </footer>

      ---
      class: title-top

      # GitHub Key Concepts

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-block">
                <div class="card-text"><strong>The GitHub Flow Enables Developer and Application Flow <strong></div>
              </div>
            </div>
          </div>
        </div>
            <div class="row">
              <div class="col-md-12">
                <img src="/images/GitHub_Flow.png" class="img-responsive">
              </div>
            </div>
          </div>


<footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
</footer>
---
class: title-top

# GitHub Key Concepts

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text"><strong>The GitHub Flow - Experimentation without Risk <strong></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-text">Create a Branch </div>
          <ul class="card-text">
            <li>Hypothesis and test</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-text">Open a Pull Request </div>
          <ul class="card-text">
            <li>Discuss and conclude</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-text">Merge and Deploy </div>
          <ul class="card-text">
            <li>Accept or disregard </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text"><strong>The GitHub Flow - Unlock Team Velocity <strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="card-text">Asynchronous </div>
          <ul class="card-text">
            <li>Inform without formal process</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="card-text">Transparency </div>
          <ul class="card-text">
            <li>Replaces status meetings </li>
          </ul>
        </div>
      </div>
    </div>

<footer>
  <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
</footer>

---
class: title-top

# GitHub Key Concepts

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text"><strong>An integrated platform for the entire development cycle <strong></div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <img src="/images/Build_Collaborate_Deploy.png" class="img-responsive">
      </div>
    </div>
  </div>


<footer>
 <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
</footer>

---
class: title-top

# GitHub Key Concepts

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text"><strong>Enabling Continous Integration/Continous Delivery <strong></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-text">Apply a consistent workflow </div>
          <ul class="card-text">
            <li>Regardless of application type </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-text">Integrate anything </div>
          <ul class="card-text">
            <li>Reuse existing skills </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-text">Automate for continuous delivery </div>
          <ul class="card-text">
            <li>Consistent chain of custody </li>
          </ul>
        </div>
    </div>
  </div>


  <footer>
   <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
