---
layout: presentations
title: Business Concept Setting
---

<textarea id="source">
  class: title-slide

  <span class="mega-octicon octicon-mark-github"></span>

  <footer>
    <span class="octicon octicon-logo-github"></span>
    <span class="tagline">How people build software</span>
  </footer>
  ---

  # Slide 2

  <footer>
    <span class="octicon octicon-logo-github"></span>
    <span class="tagline">How people build software</span>
  </footer>
  ---
  class: center, middle

  # Slide 3

  <footer>
    <span class="octicon octicon-logo-github"></span>
    <span class="tagline">How people build software</span>
  </footer>
</textarea>
