<!DOCTYPE html>
<html>
  <head>
    <title><%= current_page.data.title %></title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'labs' %>
    <%= yield_content :assets %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
