---
layout: presentations
title: Installation and Setup
---

<textarea id="source">
  class: title-slide

  <span class="mega-octicon octicon-mark-github"></span>
  <h1>Installation and Setup</h1>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  # Installation and Setup
  <br>
  ### Section Goal:
  Understand the basics for installing GitHub Enterprise in the cloud and on premise.
  <br>
  <br>
  ### Topics and Agenda:
    - Install GitHub Enterprise
    - Obtain and Upload a new license
    - Upload a new SSH key
    - Add LDAP Sync
    - Login as an LDAP User and Access Org and Repo
    - See Sync'd Teams
    - Promote a User to Site Admin

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: center, middle

  # Slide 3

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
</textarea>
